.countryList {
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: start;
  gap: 1.6rem;
}
@media(max-width: 720px) {
   .countryList {
    grid-template-columns: 1fr;
   }
}
   